body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #525252;
  color: #fff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main {
  padding: 1rem;
}

#console {
  color: #25c796;
  background-color: #131313;
  padding: 1rem;
  height: 12rem;
  border-radius: 0.5rem;
  overflow-x: scroll;
  overflow-y: scroll;
  font-family: 'Cascadia Mono', 'Courier New', monospace;
}

select {
  padding: 0.4rem;
  font-size: 1.2rem;
  border-radius: 0.35rem;
  background-color: #131313;
  color: #fff;
  border: 1px solid #25c796;
}

canvas {
  display: block;
  margin: 0 auto;
  border: 1px solid #25c796;
  border-radius: 0.5rem;
  background-color: black;
  width: 100%;
  margin: 1rem 0rem;
}

.flexrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 2rem;
  margin: 0;
}
